aws_profile = "meeboter"
aws_region  = "us-east-2"
domain_name = "app.meeboter.tech"
auth_github_id = "GITHUB_ID"
auth_github_secret = "GITHUB_SECRET"
github_token = "ghp_xxxxxx"
milo_auth_token = "milo_xxxxxx"